name: Build and deploy to Netlify

on:
  workflow_run:
    workflows: ["Deploy to AWS EC2"]
    types:
      - completed

jobs:
  deploy-frontend:
      runs-on: ubuntu-latest
      if: ${{ github.event.workflow_run.conclusion == 'success' }}

      steps:
          - name: Checkout repository
            uses: actions/checkout@v4
            with:
              token: ${{ secrets.GITHUB_TOKEN }}
              ref: ${{ github.event.workflow_run.head_commit.sha }}

          - name: Set up Node.js environment
            uses: actions/setup-node@v4
            with:
                node-version: 20
                cache: "npm"
                cache-dependency-path: './FRONTEND/package-lock.json'

          - name: Install project dependencies
            working-directory: ./FRONTEND
            run: npm install

          - name: Build the project
            run: |
             cd FRONTEND
             npm run build

          - name: Deploy to Netlify
            working-directory: ./FRONTEND
            run: npx netlify deploy --prod --dir=dist --site=$NETLIFY_SITE_ID
            env:
                NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
                NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
